@import "@material/ripple/mixins";

.quesync-app {
	width: 100vw;
	height: 100vh;

	background: #424242;

	position: absolute;
	top: 0;
	left: 0;

	// Used to make the page container fill the rest of the height of the div
	display: flex;
	flex-flow: column;

	// Hide page scrollbars
	overflow: hidden;
}

.quesync-top-app-bar {
	padding-top: 15px;
}

.quesync-page-selector {
	width: 300px;
}

.quesync-page-selector-container {
	// Center the page selector
	display: flex;
	justify-content: center;
}

// Override ripple color to transparent in order to remove it
.quesync-page-tab .mdc-tab__ripple::before {
	background: transparent;
}
.quesync-page-tab .mdc-tab__ripple::after {
	background: transparent;
}

.quesync-top-app-bar-seperator {
	padding-bottom: 15px;
}