[submodule "vendor/opus"]
	path = vendor/opus
	url = https://github.com/xiph/opus
[submodule "vendor/rnnoise-cmake"]
	path = vendor/rnnoise-cmake
	url = https://github.com/almogh52/rnnoise-cmake
[submodule "vendor/rtaudio"]
	path = vendor/rtaudio
	url = https://github.com/thestk/rtaudio
[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/termcolor"]
	path = vendor/termcolor
	url = https://github.com/ikalnytskyi/termcolor
[submodule "vendor/magic_enum"]
	path = vendor/magic_enum
	url = https://github.com/Neargye/magic_enum
