[submodule "vendor/opus"]
	path = vendor/opus
	url = https://github.com/xiph/opus
[submodule "vendor/rnnoise-cmake"]
	path = vendor/rnnoise-cmake
	url = https://github.com/almogh52/rnnoise-cmake
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft
