.quesync-friend-list-item {
    height: 55px !important;
}

.quesync-friend-avatar {
    height: 40px;
    width: 40px;

    // Override default margin from the text
    margin-right: 16px;
}

.quesync-friend-avatar .rmwc-avatar__icon {
    height: 40px;
    width: 40px;

    border-radius: 20px;
}

.quesync-friend-text {
    font-size: 14px;
}