@import "@material/drawer/mixins";
@import "@material/list/mixins";

@import "@material/elevation/mdc-elevation";

@import "./page.scss";

.quesync-drawer {
	@include mdc-drawer-fill-color-accessible(#303030);

	// Set in a fixed position in the page and above the page content
	z-index: auto;
	position: fixed;

	// Add elevation for the drawer
	@include mdc-elevation(5, black, 0.15);
}

.quesync-app-drawer-content {
	// Margin for the drawer
	margin-left: 256px;

	height: 100%;

	// Set under the drawer
	z-index: auto;
}

.quesync-app-content {
    // A bit space from the drawer and the top app bar
    margin-top: 1rem;
	margin-left: 1rem;
}

.quesync-drawer-tab {
    // Not overflow the drawer
    width: 111.5px;
}