@import "@material/drawer/mixins";
@import "@material/list/mixins";

@import "@material/elevation/mdc-elevation";

@import "./page.scss";

.quesync-page {
	display: flex;
}

.quesync-drawer {
	@include mdc-drawer-fill-color-accessible(#303030);

	// Set in a fixed position in the page and above the page content
	z-index: 1;

	// Add elevation for the drawer
	@include mdc-elevation(5, black, 0.15);

	width: 15rem;
}

.quesync-app-drawer-content {
	// Fill the rest of the page
	height: 100%;
	width: 100%;

	// Set under the drawer
	z-index: auto;

	// Use it to make the children fill the parent
	display: flex;
}

.quesync-app-content {
	display: flex;
	flex-grow: 1;
}

.quesync-drawer-tab {
	// Fill the parent
	width: 100%;
}

.quesync-drawer-content {
	// Hide the scroll bars
	overflow: hidden;

	// Set the drawer list to fill the drawer
	display: flex;
	flex-direction: column;
}

.quesync-drawer-list {
	// Re-enable the scroll
	overflow: auto;

	// Set to fill the height of the drawer
	flex-grow: 1;
}

.quesync-no-items-list-item {
	height: 100% !important;

	text-align: center;
	white-space: pre-line;

	user-select: none;
}

.quesync-drawer-tab.mdc-tab--active .mdc-tab__text-label {
	// Set the color of the tab
	color: var(--mdc-theme-primary) !important;
}

.quesync-drawer-tab .mdc-tab__text-label {
	color: lightgrey !important;
}