.quesync-drawer-list-item {
    height: 48px !important;
}

.quesync-drawer-avatar {
    height: 34px;
    width: 34px;

    // Override default margin from the text
    margin-right: 10px;
}

.quesync-drawer-avatar .rmwc-avatar__icon {
    height: 34px;
    width: 34px;

    border-radius: 17px;
}

.quesync-drawer-name {
	font-size: 15px;
	
	white-space: nowrap;
}

.quesync-drawer-info {
	font-size: 10px;
	color: gray;
	
	white-space: nowrap;
}