@import "@material/button/mixins";

.quesync-friend-details-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.quesync-friend-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quesync-friend-avatar {
	padding-bottom: 26px;

	height: 64px;
	width: 64px;
}

.quesync-friend-avatar .rmwc-avatar__icon {
	height: 64px;
	width: 64px;

	border-radius: 32px;
}

.quesync-friend-nickname-tag {
	line-height: 25px;

	text-align: center;

	color: grey;
}

.quesync-friend-nickname {
	font-size: 29px;

	color: white;
}

.quesync-friend-tag {
	font-size: 16px;

	color: #00b0ff;
}

.quesync-friend-call-button {
	transition: all 400ms ease-in-out;
}

.quesync-friend-join-button {
	@include mdc-button-filled-accessible(#00e676);
}

.quesync-friend-in-call-button {
	@include mdc-button-filled-accessible(gray);
}