.quesync-message-field {
	height: 54px;
	width: 100%;

	display: flex;
	align-items: center;
}

.quesync-message-field-input {
	resize: none !important;

	overflow: auto;
}

.quesync-message-field-input::-webkit-scrollbar {
	width: 6px;

	background: transparent;
}

.quesync-message-field-input::-webkit-scrollbar-thumb {
	border-radius: 3px;

	background-color: rgba(0, 0, 0, 0.25);
}

.quesync-message-field-input::-webkit-scrollbar-track {
	margin-top: 5px;
	margin-bottom: 5px;
}

.quesync-message-field-content {
	// Fill parent
	width: 100%;
	height: 100%;

	// Make the scrollbar a bit away from the side of the outline
	margin-right: 7px;
}

.quesync-message-field [class*=mdc-notched-outline__] {
	border-color: #bdbdbd !important;
}

.quesync-message-field__focused [class*=mdc-notched-outline__] {
	border-color: var(--mdc-theme-primary) !important;
}

.quesync-message-field .mdc-floating-label {
	color: #bdbdbd !important;
}

.quesync-message-field .quesync-message-field-input {
	color: white !important;
}

.quesync-attach-button {
	width: 36px;
	height: 36px;
	font-size: 24px;

	padding: 6px;
	margin-right: 8px;

	transition: color 400ms ease-in-out;

	color: white;
}

.quesync-attach-button-attached {
	color: var(--mdc-theme-primary);
}

.quesync-attach-button-uploading {
	color: #ff1744;
}

.quesync-attachment-menu-surface {
	background: #303030;
}

.quesync-attachment-menu-content {
	width: 16rem;
    height: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    // Hide scrollbar
    overflow: hidden;
}