.quesync-text-bubble {
	background: #f5f5f5;

	border-radius: 36px 36px 36px 0;

	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: stretch;

	max-width: 75%;
	display: inline-flex;
}

.quesync-text-sender-info {
	// Keep at the bottom of the message bubble
	align-self: flex-end;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 10px 0 2px 15px;

	font-size: 0.85rem;
	color: #0091ea;
}

.quesync-text-avatar {
	height: 26px;
	width: 26px;
}

.quesync-text-avatar .rmwc-avatar__icon {
	height: 26px;
	width: 26px;

	border-radius: 13px;
}

.quesync-text-content {
	font-size: 0.95rem;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 5px;
	padding-right: 7px;

	margin: 10px;

	// Show line breaks
	white-space: pre-line;
}

.quesync-text-message-date {
	padding-top: 4px;
	padding-left: 4px;

	color: lightgrey;
}

.quesync-message-bubble-only-emoji {
	height: 2.5em;
}

.quesync-message-bubble-text-emoji {
	height: 1.3em;

	margin: 0.12em;

	vertical-align: middle;
}
