.quesync-password-meter {
	display: flex;
	flex-direction: column;

	padding-top: 5px;
	margin-bottom: -5px;
}

.quesync-password-meter-progress {
	-webkit-appearance: none;
	appearance: none;
	width: 300px;
	height: 4px;
}

.quesync-password-meter-progress::-webkit-progress-bar {
	background-color: #a0a0a0;
	border-radius: 20px;
}

.quesync-password-meter-progress::-webkit-progress-value {
	border-radius: 20px;

	transition: all 400ms ease-in-out;
}

.quesync-password-meter-progress-weak::-webkit-progress-value {
	background-color: #d50000;
}

.quesync-password-meter-progress-fair::-webkit-progress-value {
	background-color: #ff6d00;
}

.quesync-password-meter-progress-good::-webkit-progress-value {
	background-color: #64dd17;
}

.quesync-password-meter-progress-strong::-webkit-progress-value {
	background-color: #00c853;
}