@import "@material/icon-button/mixins";

.quesync-side-panel {
	min-width: 250px;

	background: #393939;

	display: flex;
	flex-direction: column;
}

.quesync-side-panel-details {
	display: flex;
	flex-direction: column;

	flex-grow: 1;

	overflow: hidden;
}

.quesync-user {
	height: 70px;

	background: #303030;

	display: flex;
	flex-direction: row;
	align-items: center;
}

.quesync-user-avatar {
	height: 42px;
	width: 42px;

	border-radius: 21px;

	margin-left: 10px;
}

.quesync-user-name {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 10px;

	* {
		line-height: 20px;
	}
}

.quesync-user-nickname {
	color: white;
	font-size: 18px;
}

.quesync-user-tag {
	color: var(--mdc-theme-primary);
	font-size: 12px;
}

.quesync-user-actions {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: flex-end;

	margin-right: 14px;
}

.quesync-user-action-button {
	width: 36px;
	height: 36px;
	padding: 6px;
	font-size: 24px;

	margin: 2px;

	color: #CCCCCC;

	transition: all 0.15s ease-in-out;
}

.quesync-user-action-button-disabled {
	color: #ff1744;
}